
#header
{
    width: 100%;
    height: 300px;
    background-image: url("../images/bart.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
#header h1
{
    color : #ad34cb;
    width: 42%;
    float: right;
    margin-top: 25%;
    font-family: cursive , "Comic Sans MS";
    text-shadow: -5px 1px 4px #efd6f5;
}

#routes li
{
    cursor: pointer;
    padding: 2%;
    text-align: center;
}
#routes li:hover
{
    background-color: lightgrey;
}
#map
{
    height: 400px;
    width: 100%;
}
.col-md-4
{
    width: 20%;
}
